# General Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# Data and Artifacts (CRITICAL FOR ML/DL)

# Ignore processed data files, including the temporary extraction folders
# The core processed data (splits) must also be ignored
data/processed/splits/
data/processed/*_extracted/

# Ignore large model weights and artifacts
models/*.pt
models/*.pth