# Machine Learning & Data Processing
pandas
numpy
scikit-learn
pyarrow  # NEW: Required for reading/writing Parquet files
py7zr    # Required for extracting 7z data files

# Deep Learning (GNN & PyTorch)
torch>=2.0.1
torch-geometric>=2.3.1
tqdm